.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
}
.cb-slideshow:after {
  content: '';
  //Adjust the opacity of the white overlay here
  background-color: rgba(255, 255, 255, 0.8);
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 18s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(/assets/images/chestnut-road-kitchen.jpg)
}
.cb-slideshow li:nth-child(2) span {
  background-image: url(/assets/images/loft-space-ferntower-road.jpg);
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url(/assets/images/stone-resin-staircase.jpg);
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}
