body {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.2rem;
  box-sizing: border-box;
  //Align the centered text
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  z-index: 10;
}

img {
  width: 100%;
  max-width: 450px;
}

h2 {
  padding: 0.5rem 0 3rem;
  font-weight: normal;
}

a:link {
  display: block;
  margin: 1em 0;
  color: inherit;
  text-decoration: none;
  transition: color 1s ease;
}

a:hover {
  color: $teal;
}

a:active {}

a:visted {}
