// Colours
$teal: #54abb6;
$blue-grey: #7c8893;
$blue: #07358b;
$taupe: #cbbdaf;
$peach: #f18d6e;
$dark-green: #384e58;

// Font stacks
$rubik: 'Rubik', sans-serif;
$rufina: 'RufinaStencil', sans-serif;